a:link {
    color : rgba(77, 223, 174, 0.616);
}
a:visited {
    color: rgba(208, 36, 214, 0.39);
}
a:hover {
    color : #e1f012e3;
}
a:active {
    color : rgb(45, 80, 236);
}
  
body{
    background-color:antiquewhite wheat;
    color:rgba(0, 0, 0, 0.685);
}
.change{
    background-color: black;
    color : white;
}

ul {
    margin: 0;
  }  

::marker{
    color: rgba(26, 90, 185, 0.733);
    font-size: 24px;
}

::selection{
    color: purple;
}
h3::first-letter{
    font-size: 150%;
    color: rgb(81, 206, 164);
}

table {
    border: 2px solid grey;
    
   }


tr,td{
    border:1px gray dashed;
}

button[type=button]{
    border: none;
    color:gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

